@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fuggles&family=Montserrat&family=Press+Start+2P&family=Ubuntu&display=swap");

html {
  background-color: #22092c;
  font-family: "Press Start 2P" !important;
}

.App {
  width: 25rem;
  height: min-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: auto;
}

.screen {
  width: 99.5%;
  height: 10rem;
  border: 2px solid black;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  display: grid;
  align-items: end;
  text-align: right;
  background-color: #be3144;
  color: white;
  container-type: inline-size;
  &:hover {
    cursor: grab;
  }
}

.previous-operations {
  font-size: 20px;
  align-self: center;
  padding: 5px;
}

.current-operation {
  font-size: 10cqw;
  font-weight: bolder;
  padding: 10px;
  height: 3rem;
}
